external
.DS_Store
*/.DS_Store
*-checkpoint.ipynb
backend/data/backend-cratedb/
backend/data/backend-mongodb/
backend/data/backend-postgresql/
server/data/backend-cratedb/
server/data/backend-mongodb/
server/data/backend-postgresql/
__pycache__
